body {
  background: url("Desktop - 2 (1).png");
  background-size: cover;
}
#inp {
  height: 20px;
  width: 20em;
}
.form1 {
  margin-left: 20px;
  margin-right: 100px;
  margin-bottom: 20px;
  margin-top: 10px;
  opacity: 1;
  font-family: cursive;
}
.sign {
  margin-left: 130px;
}
.colb {
  background: orange;
  border-radius: 10px;
  border: orange solid 2px;
  font-size: 15px;
  width: 100px;
  height: 30px;
}
.form2 {
  width: 394px;
  height: 527px;
  left: 59px;
  top: 20px;
  background: #c4c4c4;
  opacity: 0.79;
  border: 12px solid #f88dfa;
  box-sizing: border-box;
  border-radius: 58px;
}
