body {
  background-color: rgba(62, 61, 58, 1);
  font-family: "Roboto Mono";
  background-size: cover;
}
.navig {
  background-color: #f7c10c;
  border-radius: 15px;
  display: flex;
  font-size: 16px;
  font-weight: bolder;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}
.font {
  position: absolute;
  width: 497px;
  height: 193px;
  left: 510px;
  top: 347px;
  color: #e0dfdc;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Miniver;
  font-size: 43px;
}
.font:hover {
  color: #fff500;
  font-size: 45px;
  transition: all 0.5s ease 0s;
}
.nid {
  padding-bottom: 10px;
}
a {
  color: black;
}
.Chair1 {
  position: absolute;
  width: 269.77px;
  height: 261.87px;
  left: 190.13px;
  top: 170px;
  mix-blend-mode: luminosity;
}
.Chair1:hover {
  position: absolute;
  width: 285.77px;
  height: 275.87px;
  mix-blend-mode: normal;
  transition: all 0.5s ease 0s;
}
.Chair2 {
  position: absolute;
  width: 210.21px;
  height: 199.69px;
  left: 264.23px;
  top: 437px;
  mix-blend-mode: luminosity;
}
.Chair2:hover {
  width: 225.21px;
  height: 210.69px;
  mix-blend-mode: normal;
  transition: all 0.5s ease 0s;
}
.logo {
  position: absolute;
  border: 10px yellow solid;
  height: 140px;
  width: 100px;
  background: black;
  border-radius: 38px;
  padding: 0px 20px 0px 20px;
  left: 817.38px;
  top: 146.67px;
  font-family: Sancreek;
  font-style: normal;
  font-weight: normal;
  font-size: 107px;
  line-height: 148px;
  text-align: center;
  color: #fff500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo:hover {
  transition: all 0.7s ease 0s;
  background-color: yellow;
  border: 11px #f7c10c solid;
  color: black;
}
.navimg {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 20px 5px 20px;
  border: yellow 5px solid;
  text-decoration: none;
  background: black;
  color: yellow;
  text-align: center;
  font-size: 18px;
  font-family: "Sancreek";
  border-radius: 30px;
}
.navd {
  text-decoration: none;
  margin-right: 30px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}
.navd:hover {
  transition: 0.8s all ease 0s;
  color: yellow;
  background-color: black;
  border-radius: 10px;
  fill: yellow;
}
.Per1 {
  background-color: rgba(196, 196, 196, 1);
  position: absolute;
  width: 414.05px;
  height: 230px;
  left: 50px;
  top: 1224px;
  border-radius: 39px;
}
.Per2 {
  position: absolute;
  width: 414.05px;
  height: 400.29px;
  left: 49.96px;
  top: 1490px;
  border-radius: 39px;
  background-color: #624ce7;
}
.Per3 {
  position: absolute;
  width: 331px;
  height: 339px;
  left: 500px;
  top: 1224px;
  background: #ece655;
  border-radius: 66px;
}
.Per4 {
  position: absolute;
  width: 323px;
  height: 364px;
  left: 850px;
  top: 1530px;
  background: #d16ec7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 71px;
}
.Font {
  position: absolute;
  background-color: black;
  color: yellow;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  border: 5px yellow solid;
  top: 1000px;
  left: 50px;
  font-family: "Short Stack";
  font-weight: 600;
  font-size: 40px;
}
.font1 {
  position: absolute;
  width: 295px;
  height: 77px;
  left: 50px;
  top: 107px;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 26px;
  color: #3b323c;
}
.font2 {
  position: absolute;
  width: 290px;
  height: 225px;
  left: 60.15px;
  top: 117.01px;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 26px;
  color: #f88dfa;
}
.font3 {
  position: absolute;
  width: 289px;
  height: 203px;
  left: 34px;
  top: 89px;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  color: #f82d00;
}
.font4 {
  position: absolute;
  width: 273px;
  height: 224px;
  left: 32px;
  top: 109px;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 26px;
  color: #4e1158;
}
.Per1 img {
  position: absolute;
  width: 28px;
  height: 34.44px;
  left: 40px;
  top: 26px;
}
.Per2 img {
  position: absolute;
  width: 37px;
  height: 39.63px;
  left: 53.91px;
  top: 35.26px;
}
.Per3 img {
  position: absolute;
  width: 34px;
  height: 36.18px;
  left: 42px;
  top: 30px;
}
.Per4 img {
  position: absolute;
  width: 35px;
  height: 40.28px;
  left: 32px;
  top: 39px;
}
.Per1 span {
  color: #3b323c;
}
.Per2 span {
  color: rgba(248, 141, 250, 1);
}
.Per3 span {
  color: #e37a58;
}
.Per4 span {
  color: #4e1158;
}
